body{
    font-family: 'Inter', sans-serif;
}
h2{
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}
.card{
    margin-top: 8px;
    margin-left: 8px;
    border: none;
}
.border{
    background-image: linear-gradient(35deg,#00C2FF,#8862E3,#FF0ECA);
    max-width: 280px;
    padding-bottom: 8px;
    border-radius: 8px;
    margin-left: 65px;
}
i{
    text-align: center;
    margin-top: 20px;
    font-size: 70px;
    background-image: linear-gradient(
        35deg,
        #00c2ff, 
        #8862E3, 
        #ff0eca);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h4{
    text-align: center;
    font-weight: bolder;
}
p{
    text-align: center;
}
.row{
    margin-top: 50px;
    margin-left: 200px;
}